* {
    box-sizing: border-box;
}

[data-theme="dark"] {
    --body_background: rgb(22, 22, 37);
    --navbar_background: rgb(47, 61, 92);
    --text_color: white;
    --fourth_color: #eaecf0;
    --fifth_color: rgba(234, 236, 240,0.65);
    --theme_transition: all 0.5s ease-in-out;
    --footer_upper_border:rgba(255, 255, 255,0.6);
    --copyRight:white;
    --SignIn_color:black;
    --form_color:#667085;
}

[data-theme="light"] {
    --body_background: white;
    --navbar_background: #d6d6d6;
    --text_color: black;
    --fourth_color: #5c87ff;
    --fifth_color: rgba(41, 45, 50, 0.65);
    --theme_transition: all 0.5s ease-in-out;
    --footer_upper_border:rgba(128, 128, 128,0.4);
    --copyRight:#667085;
    --SignIn_color:white;
    --form_color:#5c87ff;
}

.cursor-pointer{
    cursor: pointer;
}

.btn{
    border: none !important;
}

.redAlert{
    color: crimson;
}